# Virtual environment
env/
.venv/
venv/

# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Config cu parole
config.py

# Rezultate generate
data/raport.csv

# Variabile de mediu
.env

# Streamlit cache
.streamlit/

# Windows
Thumbs.db
Desktop.ini